<!--Style-->
<style>
#overlay8 {
  height:100%;
  width:100%;
  background-color:rgba(0, 0, 0, 1);
  position:absolute;
  left:0;
  top:0;
  z-index: 100; 
}
#loader8 {
  width: 80px;
  height: 80px;
  border: 2.5px solid #f3f3f3;
  border-top:3.5px solid #f25a41;
  border-radius: 100%;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite;
}
@keyframes spin{
  from{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  } to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>

<!--DOM-->
<div id="overlay8">
  <div id="loader8">
   </div>
</div>

<!--Script-->
<script>
var overlay = document.getElementById("overlay");
window.addEventListener('DOMContentLoaded', function(){
  //overlay.style.display = 'none';
});
</script>
