<h1>Code Library</h1>
<br>
<!--- TAB NAV --->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="loaders-tab" data-toggle="tab" href="#loaders" role="tab" aria-controls="loaders" aria-selected="true" onclick="loadersTab()">Loaders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false" onclick="otherTab()">Other</a>
  </li>
</ul>

<div class="col-sm-3 mb-2" style="float:left;">
  <h5 style="color:rgb(0, 0, 0);text-align:center;margin-top:20px;margin-bottom:20px;">Bars Shrinking Stretching</h5>
  <div class="card text-center">
    <div class="card-body" style="height:200px;width:200px;">
      {{> _compSquaresTwoStacking}}
    </div>
  </div>
</div>

<div class="col-sm-3 mb-2" style="float:left;">
  <h5 style="color:rgb(0, 0, 0);text-align:center;margin-top:20px;margin-bottom:20px;">Squares Rotating on Axis</h5>
  <div class="card text-center">
    <div class="card-body" style="height:200px;width:200px;">
      {{> _compSquaresRotatingOnAxis}}
    </div>
  </div>
</div>

<div class="col-sm-3 mb-2" style="float:left;">
  <h5 style="color:rgb(0, 0, 0);text-align:center;margin-top:20px;margin-bottom:20px;">Square Speeding Right</h5>
  <div class="card text-center">
    <div class="card-body" style="height:200px;width:200px;">
      {{> _compSquareSpeedingRight}}
    </div>
  </div>
</div>

<div class="col-sm-3 mb-2" style="float:left;">
  <h5 style="color:rgb(0, 0, 0);text-align:center;margin-top:20px;margin-bottom:20px;">Square Flipping</h5>
  <div class="card text-center">
    <div class="card-body" style="height:200px;width:200px;">
      {{> _compSquareFlipping}}
    </div>
  </div>
</div>

<div class="col-sm-3 mb-2" style="float:left;">
  <h5 style="color:rgb(0, 0, 0);text-align:center;margin-top:20px;margin-bottom:20px;">Square Dividing</h5>
  <div class="card text-center">
    <div class="card-body" style="height:200px;width:200px;">
      {{> _compSquareDividing}}
    </div>
  </div>
</div>

<div class="col-sm-3 mb-2" style="float:left;">
  <h5 style="color:rgb(0, 0, 0);text-align:center;margin-top:20px;margin-bottom:20px;">Dots Three Fading</h5>
  <div class="card text-center">
    <div class="card-body" style="height:200px;width:200px;">
      {{> _compDotsThreeFading}}
    </div>
  </div>
</div>

<div class="col-sm-3 mb-2" style="float:left;">
  <h5 style="color:rgb(0, 0, 0);text-align:center;margin-top:20px;margin-bottom:20px;">Dots Three Bouncing</h5>
  <div class="card text-center">
    <div class="card-body" style="height:200px;width:200px;">
      {{> _compDotsThreeBouncing}}
    </div>
  </div>
</div>

<div class="col-sm-3 mb-2" style="float:left;">
  <h5 style="color:rgb(0, 0, 0);text-align:center;margin-top:20px;margin-bottom:20px;">Circle Revolving</h5>
  <div class="card text-center">
    <div class="card-body" style="height:200px;width:200px;">
      {{> _compCircleRevolving}}
    </div>
  </div>
</div>

<div class="col-sm-3 mb-2" style="float:left;">
  <h5 style="color:rgb(0, 0, 0);text-align:center;margin-top:20px;margin-bottom:20px;">Circle Continues</h5>
  <div class="card text-center">
    <div class="card-body" style="height:200px;width:200px;">
      {{> _compCircleContinous}}
    </div>
  </div>
</div>

<div class="col-sm-3 mb-2" style="float:left;">
  <h5 style="color:rgb(0, 0, 0);text-align:center;margin-top:20px;margin-bottom:20px;">Squares Two Stacking</h5>
  <div class="card text-center">
    <div class="card-body" style="height:200px;width:200px;">
      {{> _compBarsStretchingShrinking}}
    </div>
  </div>
</div>