<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Looks like you haven't added any vehicles</p>
  <a href="/vehicle/add" class="btn btn-dark btn-lg">Add New</a>
</div>